* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkblue: #021024;
    --white: #C1E8FF;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: var(--white);
}

.main {
    height: 90%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(19, 18, 18);
    border: 1px solid rgb(114, 110, 110);
    border-radius: 0.5rem;
    display: flex;
}

.nav {
    width: 35%;
    height: 100%;
    border-radius: 0.5rem;
    margin-right:   0.5rem;
    border: 1px solid rgb(114, 110, 110); 
}

.calc {
    text-align: center;
}

.calc h3{
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.calc p {
    padding-top: 1.5rem;
}

.dbl-container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.icon {
    height: 5rem;
    width: 5rem;
    background-color: rgb(114, 110, 110);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem;
    overflow: hidden;
    border-radius: 0.5rem;
    cursor: pointer;
}

.icon i{
    max-width: 100%;
    height: auto;
    display: block;
    font-size: 1.3rem;

}

.icon p {
    font-size: 1.5rem;
}

.container {
    height: 100%;
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.number-box {
    height: 90%;
    width: 35vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.number-box2 {
    width: 290px;
}
.number-pad {
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.num {
    width: 63px;
    height: 63px;
    font-size: 20px;
    border-radius: 0.3rem;
    color: var(--white);
    border: none;
    background-color: rgb(114, 110, 110);
    cursor: pointer;
}

.number-box input{
    width: 300px;
    height: 50px;
    padding: 5px 10px;
    background-color: #000;
    border: none;
    text-align: end;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: 0.3rem;
    font-weight: 600;
}

input::placeholder {
    color: var(--white);
}

.number-box #merge {
    grid-column: span 2;
}


